<header>
    <div class="header-top">
        <div class="top-box">
            <div class="right">
                <ul>
                    <li><a href="#">로그인</a></li>
                    <li><a href="#">회원가입</a></li>
                    <li><a href="#">안내 및 Q&A</a></li>
                    <li><a href="#">
                            <img src="https://www.heroesbaseball.co.kr/html/front/web_2018/images/common/top_sns1.png"
                                alt="youtube">
                        </a></li>
                    <li><a href="#">
                            <img src="https://www.heroesbaseball.co.kr/html/front/web_2018/images/common/top_sns2.png"
                                alt="instagram">
                        </a></li>
                    <li><a href="#">
                            <img src="https://www.heroesbaseball.co.kr/html/front/web_2018/images/common/top_sns3.png"
                                alt="facebokk">
                        </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <nav>
            <h2>
                <a href="./index.html">
                    <img src="./resource/image/logoSmall.png" style="width: 100%;" alt="logoSmall">
                </a>
            </h2>
            <ul id="menu_box" class="menu-box">
                <li>
                    <a href="#">DREAMS</a>
                    <ul class="menu-son display-none">
                        <li><a href="./resource/page_1/test.html">드림즈 소개</a></li>
                        <li><a href="#">구장안내</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">PLAYERS</a>
                    <ul class="menu-son display-none">
                        <li><a href="#">선수</a></li>
                        <li><a href="#">코칭스태프</a></li>
                        <li><a href="#">구단관계자</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">GAMES</a>
                    <ul class="menu-son display-none">
                        <li><a href="#">경기일정 및 결과</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">STATS</a>
                    <ul class="menu-son display-none">
                        <li><a href="#">팀순위</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">GOODS</a>
                    <ul class="menu-son display-none">
                        <li><a href="#">야구용품</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">BOARDS</a>
                    <ul class="menu-son display-none">
                        <li><a href="#">구단소식</a></li>
                        <li><a href="#">영웅게시판</a></li>
                        <li><a href="#">다운로드</a></li>
                        <li><a href="#">응원단</a></li>
                        <li><a href="#">안내 및 Q&A</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">TICKET</a>
                    <ul class="menu-son display-none">
                        <li><a href="#">일일티켓</a></li>
                        <li><a href="#">멤버쉽</a></li>
                        <li><a href="#">단체관람</a></li>
                        <li><a href="#">스카이박스</a></li>
                    </ul>
                </li>
            </ul>

            <ul id="mo-menu-box" class="mo-menu-box">
                <li>
                    <a href="#">DREAMS</a>
                    <ul class="menu-son">
                        <li><a href="./resource/page_1/test.html">드림즈 소개</a></li>
                        <li><a href="#">구장안내</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">PLAYERS</a>
                    <ul class="menu-son">
                        <li><a href="#">선수</a></li>
                        <li><a href="#">코칭스태프</a></li>
                        <li><a href="#">구단관계자</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">GAMES</a>
                    <ul class="menu-son">
                        <li><a href="#">경기일정 및 결과</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">STATS</a>
                    <ul class="menu-son">
                        <li><a href="#">팀순위</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">GOODS</a>
                    <ul class="menu-son">
                        <li><a href="#">야구용품</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">BOARDS</a>
                    <ul class="menu-son ">
                        <li><a href="#">구단소식</a></li>
                        <li><a href="#">영웅게시판</a></li>
                        <li><a href="#">다운로드</a></li>
                        <li><a href="#">응원단</a></li>
                        <li><a href="#">안내 및 Q&A</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">TICKET</a>
                    <ul class="menu-son ">
                        <li><a href="#">일일티켓</a></li>
                        <li><a href="#">멤버쉽</a></li>
                        <li><a href="#">단체관람</a></li>
                        <li><a href="#">스카이박스</a></li>
                    </ul>
                </li>
                <div class="ul-bg"></div>
            </ul>
        </nav>
        <div id="menu_bg" class="menu-bg display-none"></div>
        <div id="left-bg" class="left-bg"></div>
        <div id="son-menu-bg" class="son-menu-bg"></div>

        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" id="icon"
            class="bi bi-list icon" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
        </svg>
    </div>
</header>